.well
  %a{ href: "/scan/paste?rid=#{params[:rid]}"}
    %button.btn.btn-main
      Add Scan
  %p
    = search_form_for @search, url: scan_view_path, html: { class: "form-horizontal" } do |f|
      = hidden_field_tag :rid, params[:rid]
      - Group.all.each do |group|
        - if params[:q]
          = check_box_tag "q[group_id_in][]", group.id,  (params[:q][:group_id_in].include? group.id.to_s) ? true : false 
        - else
          = check_box_tag "q[group_id_in][]", group.id
        = group.name
      = f.text_field :type_name_cont, { placeholder: "Type search..." }
      = f.submit "Filter"
  / .btn-group{"data-toggle" => "buttons"}
  /   %label.btn.btn-primary
  /     %input{:type => "checkbox"}/
  /     Option 1
  /   %label.btn.btn-primary
  /     %input{:type => "checkbox"}/
  /     Option 2
  /   %label.btn.btn-primary
  /     %input{:type => "checkbox"}/
  /     Option 3
  %h3 
    Scan Results
  %table.table.table-striped.sig-result
    %tr
      %th= sort_link @search, :system_name, "System"
      %th= sort_link @search, :sig_id, "ID"
      %th= sort_link @search, :group_name, "Group"
      %th= sort_link @search, :type_name, "Type"
      %th= sort_link @search, :created_at, "Created at"
      %th Delete
    - @sigs.each do |sig|
      %tr
        %td= sig.system.name
        %td= sig.sig_id
        %td= sig.group.name
        %td= sig.type.name
        %td= sig.created_at
        %td
          %form{ method: :post, action: "/scan/delete?sig_id=#{sig.sig_id}"}
            %button.btn-xs.btn-danger
              x
  = paginate @sigs
